@import '../../scss/config';

.container {

	.cards-container,
	.profiles-container {
		padding: $y-space-large $screen-edge-large;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;

		.about-card-one {
			width: 60%;
		}

		.about-card-two {
			width: 35%;
		}

		@include breakpoint($portrait-tablet-and-below) {
			flex-direction: column;

			.about-card-one,
			.about-card-two {
				width: 100%;

				&:first-child {
					margin-bottom: 10px;
				}
			}
		}

		@include breakpoint($narrow-browser-and-phone) {
			padding: $y-space-small $screen-edge-small;
		}
	}

	.profiles-container {
		background: $background-grey;

		.profile-card {
			width: 50%;
			align-self: flex-start;

			&:first-child {
				margin-right: 20px;
			}

			@include breakpoint($portrait-tablet-and-below) {
				width: 100%;

				&:first-child {
					margin: 0 0 20px;
				}
			}
		}
	}
}