@import '../../scss/config';

.container {
	padding: 0 60px;

	&.green {
		background: url('../../assets/images/Green_Pattern.png') no-repeat center;
		background-size: cover;
		color: #fff;
	}

	.content {
		padding: 40px 0;
		&.center {
			padding: 40px 350px;
		}
		.copy {
			.title {
				@include gothic-bold;
				font-size: 72px;
				text-shadow: 4px 4px 4px #000;
				margin-bottom: 30px;
			}
			.text {
				@include gothic-bold;
				font-size: 26px;

				&.small {
					font-size: 14px;
				}
			}

			
		}
		.button {
			@include grey-black-button;
			margin-top: 30px;
		}
	}

	.center {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
}