@import '../../scss/config';

.container {

	.cards-container,
	.profiles-container {
		padding: $y-space-large 60px;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;

		.about-card-one {
			width: 60%;
		}

		.about-card-two {
			width: 35%;
		}
	}

	.profiles-container {
		background: $background-grey;

		.profile-card {
			width: 50%;
			align-self: flex-start;

			&:first-child {
				margin-right: 20px;
			}
		}
	}
}