@import '../../scss/config';

.container {

	.cards-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		padding: $y-space-large $screen-edge-large;

		.card {
			width: 50%;
			align-self: flex-start;

			&:first-child {
				margin-right: 20px;
			}
		}

		@include breakpoint($portrait-tablet-and-below) {
			flex-direction: column;

			.card {
				width: 100%;
				margin: 0 0 30px;

			}
		}

		@include breakpoint($narrow-browser-and-phone) {
			padding: $y-space-small $screen-edge-small;
		}
	}
}