@import '../../scss/config';

.container {

	.cards-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		padding: $y-space-large $screen-edge-large;

		.card {
			width: 48%;
			align-self: flex-start;
			margin-bottom: 20px;

			&:nth-child(odd) {
				margin-right: 20px;
			}
		}

		@include breakpoint($portrait-tablet-and-below) {
			flex-direction: column;

			.card {
				width: 100%;
				margin-bottom: 30px;

				&:nth-child(odd) {
					margin-right: 0;
				}

				&:last-child {
					margin-bottom: 0;
				}

			}
		}

		@include breakpoint($narrow-browser-and-phone) {
			padding: $y-space-small $screen-edge-small;
		}
	}
}