@mixin knowledge-light {
	font-family: $knowledge-light;
	-webkit-font-smoothing: antialiased;
}

@mixin knowledge-regular {
	font-family: $knowledge-regular;
	-webkit-font-smoothing: antialiased;
}

@mixin knowledge-medium {
	font-family: $knowledge-medium;
	-webkit-font-smoothing: antialiased;
	@include font-weight-override;
}

@mixin serif-regular {
	font-family: $serif-regular;
	-webkit-font-smoothing: antialiased;
}

@mixin serif-medium {
	font-family: $serif-medium;
	-webkit-font-smoothing: antialiased;
}
