@import '../../scss/config';

.container {

	.banner {
		position: relative;
		width: 100%;
		padding-top: (490 / 1366) * 100%;
		background: url('../../assets/images/Artichoke_Background.png') no-repeat center center;
		background-size: 100%;
		border-bottom: 1px solid $artichoke-green;

		@include breakpoint($medium-browser-and-portrait-tablet) {

		}

		@include breakpoint($narrow-browser-and-phone) {
			padding-top: 65%;
			background-size: cover;
		}

		.inner {
			@include absoluteFullSize();
		    display: flex;
			flex-direction: column;
			align-items: center;		
			justify-content: center;
		}

		.banner-text {
			display: block;
			@include gothic-bold;
			font-size: 76px;
			color: #fff;
			text-shadow: 4px 4px 4px #000;
			text-align: center;

			@include breakpoint($medium-browser-and-portrait-tablet) {
				font-size: 36px;
			}

			@include breakpoint($narrow-browser-and-phone) {
				font-size: 26px;
			}
		}
	}

	.cards-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		padding: 48px 60px;

		.card {
			width: 50%;
			align-self: flex-start;

			&:first-child {
				margin-right: 20px;
			}
		}
	}

	.your-story {
		padding: 48px 60px;
		background: $background-grey;

		.inner {
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			
			.thumb {
				width: 435px;
				height: 290px;
				flex: none;
				margin-right: 30px;
				background: url('../../assets/images/jean_claude.jpg') no-repeat center center;
				background-size: cover;
			}

			.title {
				@include gothic-bold;
				font-size: 28px;
			}

			p {
				font-family: arial, sans-serif;
				font-size: 16px;
				line-height: 1.5;
				padding-bottom: 10px;
			}

		}
	}
}