@import 'config';

// Define the grids
$grid-body: (
	columns: 9,
	gutters: .375,
	global-box-sizing: border-box,
	//container-position: 0 6%,
	container-position: $pos,
	flow: $flow,
	debug: $grid-debug
);
